body {
  background-color: whitesmoke;
  margin:0px;
}
.panel, .panel-heading {
  margin: 0px !important;
  border-radius: 0px !important;
}
.chat-form {
  position: fixed;
  bottom: 0;
}
.chat-form .form-control {
  border-radius: 0px;
}
.chat-form .btn {
  border-radius: 0px;
}
.message-list {
  margin: 10px;
}
.message-list p{
  padding: 5px 20px 5px 5px;
  width: fit-content;
  color: white;
}
